# Model creation and accuracy caheck for the Design-1 data

In [4]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [7]:
df = pd . read_csv(("D:\BreakPads_ML\Raw_Input_Data\Design1.csv"))
df = df.drop(columns = ["Unnamed: 0.1","Unnamed: 0"])
df["Youngs_Modulus"]=df["Youngs_Modulus"]*100
df.head()

,1,2,3,4,5,6,7,8,9,10,...,881,882,883,Design,Pad_Thickness,Pad_Height,Pad_Width,Pis_Radius,Youngs_Modulus,Applied_Pressure
0,2.57188,2.30037,2.46050,2.65304,2.81205,2.75852,2.66240,2.46821,2.30057,2.56229,...,1.72637,1.72359,1.81010,Design_1,7.5,29.3,86.8,15,100,50.0
1,3.16330,2.76536,2.94005,3.17009,3.36315,3.29799,3.18142,2.94898,2.76447,3.15023,...,2.06827,2.06496,2.16817,Design_1,7.5,29.3,86.8,15,100,60.0
2,3.76559,3.22990,3.41703,3.68470,3.91224,3.83530,3.69804,3.42718,3.22778,3.74881,...,2.40960,2.40582,2.52562,Design_1,7.5,29.3,86.8,15,100,70.0
3,4.37665,3.69413,3.89217,4.19759,4.45998,4.37113,4.21299,3.90353,3.69071,4.35597,...,2.75046,2.74624,2.88259,Design_1,7.5,29.3,86.8,15,100,80.0
4,4.99506,4.15829,4.36606,4.70939,5.00690,4.90605,4.72688,4.37863,4.15347,4.97035,...,3.09081,3.08615,3.23906,Design_1,7.5,29.3,86.8,15,100,90.0

In [15]:
df.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '881', '882', '883', 'Design', 'Pad_Thickness', 'Pad_Height',
       'Pad_Width', 'Pis_Radius', 'Youngs_Modulus', 'Applied_Pressure'],
      dtype='object', length=890)

In [35]:
x_features = df.iloc[:,883:]
print(x_features.dtypes)
x_features.head(12)

Design               object
Pad_Thickness       float64
Pad_Height          float64
Pad_Width           float64
Pis_Radius            int64
Youngs_Modulus        int64
Applied_Pressure    float64
dtype: object

,Design,Pad_Thickness,Pad_Height,Pad_Width,Pis_Radius,Youngs_Modulus,Applied_Pressure
0,Design_1,7.5,29.3,86.8,15,100,50.0
1,Design_1,7.5,29.3,86.8,15,100,60.0
2,Design_1,7.5,29.3,86.8,15,100,70.0
3,Design_1,7.5,29.3,86.8,15,100,80.0
4,Design_1,7.5,29.3,86.8,15,100,90.0
5,Design_1,7.5,29.3,86.8,15,100,100.0
6,Design_1,7.5,29.3,86.8,15,200,50.0
7,Design_1,7.5,29.3,86.8,15,200,60.0
8,Design_1,7.5,29.3,86.8,15,200,70.0
9,Design_1,7.5,29.3,86.8,15,200,80.0
10,Design_1,7.5,29.3,86.8,15,200,90.0
11,Design_1,7.5,29.3,86.8,15,200,100.0

In [34]:
y_targets = df.iloc[:,:883]
print(y_targets.dtypes.value_counts())
y_targets.head(12)

float64    883
dtype: int64

,1,2,3,4,5,6,7,8,9,10,...,874,875,876,877,878,879,880,881,882,883
0,2.57188,2.30037,2.46050,2.65304,2.81205,2.75852,2.66240,2.46821,2.30057,2.56229,...,1.50749,2.73289,2.79201,2.81998,2.84751,1.68822,1.71832,1.72637,1.72359,1.81010
1,3.16330,2.76536,2.94005,3.17009,3.36315,3.29799,3.18142,2.94898,2.76447,3.15023,...,1.80557,3.26674,3.33872,3.37299,3.40595,2.02178,2.05845,2.06827,2.06496,2.16817
2,3.76559,3.22990,3.41703,3.68470,3.91224,3.83530,3.69804,3.42718,3.22778,3.74881,...,2.10329,3.79833,3.88338,3.92407,3.96245,2.35454,2.39795,2.40960,2.40582,2.52562
3,4.37665,3.69413,3.89217,4.19759,4.45998,4.37113,4.21299,3.90353,3.69071,4.35597,...,2.40061,4.32837,4.42663,4.47384,4.51763,2.68667,2.73693,2.75046,2.74624,2.88259
4,4.99506,4.15829,4.36606,4.70939,5.00690,4.90605,4.72688,4.37863,4.15347,4.97035,...,2.69747,4.85745,4.96905,5.02284,5.07203,3.01819,3.07538,3.09081,3.08615,3.23906
5,5.61985,4.62255,4.83915,5.22057,5.55343,5.44051,5.24016,4.85294,4.61629,5.59098,...,2.99385,5.38601,5.51105,5.57149,5.62607,3.34911,3.41328,3.43062,3.42558,3.59505
6,2.65202,2.54718,2.76803,2.97825,3.13486,3.08425,2.98815,2.77764,2.55089,2.64618,...,1.35103,3.05956,3.11661,3.14130,3.16747,1.58752,1.62168,1.63136,1.62869,1.74575
7,3.25967,3.06382,3.30984,3.56011,3.74927,3.68794,3.57195,3.32090,3.06698,3.25105,...,1.62127,3.65805,3.72715,3.75722,3.78834,1.90539,1.94637,1.95785,1.95445,2.09389
8,3.88157,3.58048,3.84839,4.13858,4.36081,4.28855,4.15239,3.86086,3.58289,3.86988,...,1.89178,4.25334,4.33472,4.37033,4.40642,2.22282,2.27077,2.28409,2.28002,2.44158
9,4.51531,4.09698,4.38413,4.71420,4.96994,4.88658,4.73002,4.39798,4.09846,4.50030,...,2.16244,4.84595,4.93981,4.98110,5.02215,2.53978,2.59480,2.61000,2.60530,2.78878
10,5.15897,4.61315,4.91740,5.28733,5.57695,5.48236,5.30519,4.93261,4.61358,5.14041,...,2.43328,5.43623,5.54272,5.58981,5.63582,2.85629,2.91849,2.93563,2.93035,3.13557
11,5.81099,5.12890,5.44847,5.85829,6.18212,6.07617,5.87822,5.46503,5.12817,5.78872,...,2.70436,6.02446,6.14373,6.19671,6.24768,3.17233,3.24181,3.26095,3.25513,3.48193

In [36]:
print(x_features.shape,y_targets.shape)

(150, 7) (150, 883)

## Model Building with mutiple target

### 1. Multi Output Regressor

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import KFold

In [44]:
x_test, x_train, y_test, y_train = train_test_split(x_features, y_targets, test_size = 0.33, random_state = 42)